body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #221;
    font-family: 'Open Sans', sans-serif;

}

.card{
    background: #eaeaea;
    padding: 2em;
    border-radius: 32px;
    width: 100%;
    max-width:425px;
    margin: 1em;
}